.list_spaces_item {
    margin-bottom: 30px;
    
}

.list_spaces_item small {
    display: block;
}

.list_spaces_item img {
    float: left;
    margin-right: 10px;
}

.space-title {
    display: block;
    font-size: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
    border: none !important;
}

.list_spaces_item .space-description {
    margin-bottom: 0.5em;
}

.list_spaces_item .meta {
    font-size: 0.65em;
    border-bottom: 1px solid #CCC;
}

.vermas {
    float: right;
    padding-top: 30px;
    background-color: #c0392b;
color: #fff;
display: inline-block;
position: absolute;
right: 0;
bottom: 0;
box-shadow: none;
padding: 0 .5em;
}
.vermas:hover {
    background-color: rgba(41, 39, 36, 0.9);
    color: #fff;
}
